[package]
name = "rust-redis"
version = "0.1.0"
edition = "2024"
default-run = "server"

[dependencies]
tokio = { version = "1", features = ["full"] }

[features]
rehash = []

[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "client"
path = "src/bin/client.rs"
